streamlit
langchain
chromadb
sentence-transformers
python-dotenv
transformers
torch
unstructured
markdown
langchain-community
nest-asyncio

# Testing dependencies
pytest
pytest-cov
pytest-mock
accelerate

networkx
streamlit-agraph
python-louvain
graphviz